<%= form_for @searchapp  do |f| %>
  <% if @searchapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@searchapp.errors.count, "error") %> prohibited this searchapp from being saved:</h2>

      <ul>
        <% @searchapp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="control-group">
    <%= f.label :file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_name, :class => 'text_field' %>
    </div>
  </div>
   
 <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' , :size => '5x5' %>
    </div>
  </div>
  <%= f.fields_for :assets do |asset_fields| %>
    <%= render 'asset_fields', f: asset_fields %>
  <% end %>
  <%= link_to_add_fields (raw('<i class="icon-plus-sign " ></i> Add files')), f, :assets %>
 

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to(searchapps_path, :class => 'btn btn') do %>
      Back <i class=" icon-chevron-left icon-white"></i>
    <% end %>
</div>
  <% end %>

